* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  min-height: 100dvh;
  width: 100dvw;
  display: grid;
  align-items: center;
  background-color: var(--background-color);
}

main {
  width: 100%;
  max-width: 73rem;
  margin: 0 auto;
}

:root {
  --primary-color: #0079ff;
  --secondary-color: #697c9a;
  --tertiary-color: #4b6a9b;
  --background-color: #f6f8ff;
  --dark-background: #2b3442;
  --white: #fefefe;
  --black: #222731;
  --error: #f74646;
}

/* header styles  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}

.logo {
  font-size: 2.6rem;
  font-weight: 600;
}

.themeMode {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}

.themeMode span:nth-child(1) {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.themeMode span:nth-child(2) {
  display: flex;
}

/* form styles */

.searchForm {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 15px;

  display: flex;
  align-items: center;
}

.search-icon {
  display: flex;
  margin-right: 2.4rem;
}

.searchForm input {
  border: none;
  font-size: 1.8rem;
  outline: none;
  font-family: "Space Mono", monospace;
  max-width: 25.4rem;
  width: 100%;
  color: var(--black);
}

.searchForm .btn {
  padding: 1.3rem 2.3rem;
  border: none;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}

.error {
  color: var(--error);
  font-weight: 600;
  display: none;
}

.form-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
